<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="amasty_company" frontName="amasty_company">
            <module name="Amasty_CompanyAccount" />
        </route>
    </router>
</config>
