<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="SkySwitch_Orders::orders" title="SkySwitch API - Orders" sortOrder="99">
                    <resource id="SkySwitch_Orders::webhook" title="Webhook Endpoint" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>